@import "variables.scss";
@import "mediaQuery.scss";

.footer
{
    .collab
    {
        text-align: right;

        &__text
        {
            font-weight: lighter !important;
            margin-bottom: ($medidaPixeles/5);

            @include laptop {
                text-align: center;
            }
        }
    }

    &__hr
    {
        background: rgba(255, 255, 255, 0.2);
        height: ($medidaPixeles/100) + 1px;
    }

    .contact
    {
        &__text
        {   
            margin-top: 1em;
            font-weight: lighter;
            color: $color-text;

            @include laptop {
                text-align: center;
            }
        }

        &__number
        {
            font-size: ($medidaPixeles/5) - 2px;
            font-weight: lighter;

            @include laptop {
                text-align: center;
            }
        }
    }

    .media
    {
        text-align: right;
        font-weight: lighter;


        &__items
        {
            list-style: none;

            & li
            {
                display: inline-block;
                font-weight: lighter;
                color: $color-text;
                font-size: ($medidaPixeles/5) - 2px;
                padding-left: ($medidaPixeles/5);
            }

            @include laptop {
                text-align: center;
                margin: 0 0 0 -4em;
                padding-bottom: 15px;
            }
        }

        &__fb::before
        {
            display: inline-block;
            content: "";
            border-radius: $medidaPorcentaje;
            height: ($medidaPixeles/20) - 1px;
            width: ($medidaPixeles/20) - 1px;
            margin-right: ($medidaPixeles/20) + 1px;
            background-color: $fb-color;
        }

        &__ig::before
        {
            display: inline-block;
            content: "";
            border-radius: $medidaPorcentaje;
            height: ($medidaPixeles/20) - 1px;
            width: ($medidaPixeles/20) - 1px;
            margin-right: ($medidaPixeles/20) + 1px;
            background-color: $ig-color;
        }

        &__tw::before
        {
            display: inline-block;
            content: "";
            border-radius: $medidaPorcentaje;
            height: ($medidaPixeles/20) - 1px;
            width: ($medidaPixeles/20) - 1px;
            margin-right: ($medidaPixeles/20) + 1px;
            background-color: $tw-color;
        }

        &__text
        {
            @include laptop {
                text-align: center;
            }
        }
    }

    & .address
    {
        text-align: right;

        &__text
        {
            font-weight: lighter !important;
            margin-bottom: ($medidaPixeles/5);

            @include laptop {
                text-align: center;
            }
        }

        &__contact
        {
            margin-bottom: 2em;
            font-size: ($medidaPixeles/5) - 2px;
            font-weight: lighter;

            @include laptop {
                text-align: center;
            }
        }
    }
}