@import "mediaQuery.scss";

.sectionAbout
{
    min-height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerAbout
{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;

    @include mobile{
        display: block;
    }

    @include tablet{
        display: block;
    }

    &__info
    {
        width: 30%;
        font-size: 1.5em;
        color: whitesmoke;

        @include mobile{
            padding-top: 5em;
            padding-bottom: 2em;
            font-size: 1em;
            width: 50%;
            margin: auto;
        }

        @include tablet{
            padding-top: 5em;
            padding-bottom: 2em;
            font-size: 1em;
            width: 50%;
            margin: auto;
        }

    }
}

.imgEffect
{
    width: 50%;
    height: 500px;

    @include mobile{
        margin: auto;
    }

    @include tablet{
        margin: auto;
    }
}