section
{

    & .about
    {
        height: 500px;
        margin-top: 120px;
    }

    & .image
    {
        background: url(../img/paisajeLuna-min.jpg) no-repeat 50% 70%;
        background-size: cover;
        margin-bottom: 2em;

        @include tablet {
            height: 70vh;
            width: 100vw;
        }

        @include mobile {
            height: 20em;
            width: 27em;
        }
    }
    
}