@import "variables.scss";

/* ################### ESTILOS BÁSICOS #################### */

html, body{
    margin: 0;
    padding: 0;
    width: $medidaPorcentaje;
    height: $medidaPorcentaje;
    font-family: "Roboto Mono" !important;
    background-color: $color-background !important;
    color: $color-text !important;
}