// -------------------- COLORES
$color-background: #0f0f0f;
$color-text: #fff;
$fb-color: #3b5b98;
$ig-color: #fcaf45;
$tw-color: #55acee;
$color-heroLine: rgba(255, 255, 255, 0.7);
$color-blinkTextCussor: rgba(255, 255, 255, 0.7);
$color-formLabel: #999;
$color-TextArea: #857a7a;
$color-button: #dfdfdf;
// -----------------------------

// ---------------------- MEDIDAS
$medidaPixeles: 100px;
$medidaPorcentaje: 100%;
$medidaViewHeight: 100vh;
$medidaViewWidth: 100vw;
$medidaEm: 10em;